streamlit==1.51.0
pandas==2.3.1
scikit-learn==1.7.2
numpy==2.2.6
spacy==3.8.11
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.11/en_core_web_sm-3.8.11-py3-none-any.whl
